In [127]:
#BeautifulSoup
from bs4 import BeautifulSoup as bs
import pandas as pd

In [12]:
#splinter library and set path value.
from splinter import Browser
executable_path = {'executable_path': "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [15]:
#mars url
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
#print(soup)

In [31]:
article_headers = soup.findAll("li", {"class": "slide"})
len(article_headers)

40

In [43]:
#data scrap sample
a_date = [x.text for x in soup.select("div.list_date")]
a_title = soup.select("div.content_title")
a_title[0].find('a')

In [58]:
# article list scrap
article_list = soup.select('li.slide')
a_date = []
a_title = []
a_teaser = []
for li in article_list:
    a_date.append(li.find('div',{'class': 'list_date'}).text)
    a_title.append(li.find('div', {'class': 'content_title'}).text)
    a_teaser.append(li.find('div', {'class':'article_teaser_body'}).text)
print('Number of date scrape: '+ str(len(a_date)))
print('Number of title scrape: '+ str(len(a_title)))
print('Number of teaser scrape: '+ str(len(a_teaser)))

Number of date scrape: 40
Number of title scrape: 40
Number of teaser scrape: 40

In [103]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit"
browser.visit(image_url)
image_html = browser.html
image_soup = bs(image_html, 'html.parser')

feature_image_url = []
#get images url
images_selector = image_soup.select('div.image_and_description_container > div.img > img.thumb')

for img in images_selector:
    feature_image_url.append('https://www.jpl.nasa.gov' + img['src'])
    
print(len(feature_image_url))

32

In [119]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
twitter_html = browser.html
twitter_soup = bs(twitter_html, 'html.parser')
#print(twitter_soup)
temperature_list = []

#temp_selector = twitter_soup.select('li.js-stream-item > div.content > div.js-tweet-text-container > p.TweetTextSize')
#temp_selector

In [125]:
temp_selector = twitter_soup.select('div.content > div.js-tweet-text-container > p.TweetTextSize')
for temp in temp_selector:
    temperature_list.append(temp.text)
print(len(temperature_list))

40

In [126]:
#retrieve data from mars facts
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)
facts_html = browser.html
facts_soup = bs(facts_html, 'html.parser')

In [135]:
#transform html to pandas dataframe
facts_html_table = facts_soup.select('table#tablepress-mars')
#print(facts_html_table[0])
facts_df = pd.read_html(str(facts_html_table[0]))
facts_df[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers